@charset "utf-8";

/* Icons */
.image.en {
	background: url('../img/us.png') center/cover no-repeat;
}

.image.pt {
	background: url('../img/br.png') center/cover no-repeat;
}

.image.fr {
	background: url('../img/fr.png') center/cover no-repeat;
}
